<%- include('../layouts/admin_header') %>

<h1 class="padding-tb-15">Pages</h1>

<a href="/admin/pages/add-page" class="btn btn-primary">Add a new page</a>

<table class="table table-striped sorting">
    
    <thead class="table__head">
        <tr class="table__row row">
            <th class="table__tag col-md-5">Title</th>
            <th class="table__tag col-md-3">Edit</th>
            <th class="table__tag col-md-4">Delete</th>
        </tr>
    </thead>
    
    <tbody class="table__body">
        <% pages.forEach( page => { %> 
            <tr id="id_<%= page._id %>" class="<%= page.slug %> table__row row"> 
                <td class="table__tag-home col-md-5"><%= page.title %></td> 
                <td class="table__tag-edit col-md-3"><a href="/admin/pages/edit/<%= page.slug %>">Edit</a></td> 
                <td class="table__tag-delete col-md-4"><%- include('../partials/deleteForm', {
                    url: `/admin/pages/${page._id}`
                }) %></td> 
            </tr> 
        <% }) %>
    </tbody>
</table>


<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script>    
    $('.table__body').sortable({
        items: "tr:not('.home')",
        update: function() {
            const data = $('.table__body').sortable('serialize')
            const url = '/admin/pages/reorder-pages'
            console.log(data)
            $.post(url, data)
        }
    })
</script>

<%- include('../layouts/admin_footer') %>

















